#graph{
}

#networkGraph {
    display:block;
    margin-left: 20%;
    margin-right: 20%;
}

g.node.highlighted, g.link.highlighted {
    stroke: #ff908b;
    stroke-width: 3px;
}

#story-card {
    position: absolute;
    right: 0;
    background-color: whitesmoke;
    width: 25%; 
    padding: 20px;
    overflow-y: auto; 
    display: none; 
    z-index: 1030; 
    box-shadow: -5px 0 15px rgba(0,0,0,0.3);
}

#barChart {
    position: absolute;
    top: 80px; 
    height: calc(100vh - 80px);
    left: 0;
    background-color: whitesmoke;
    width: 25%; 
    padding: 20px;
    margin-right: auto;
    z-index: 1020; 
    box-shadow: -5px 0 15px rgba(0,0,0,0.3);
    order: 1;
}

#legend{
    position: absolute;
    left: 20px;
    top: 75vh;
    z-index: 1030;
    width: 25%;
    padding: 25px;
    order: 2;
}

#author-list{
    position: absolute;
    right: 0;
    top:80px;
    height: calc(100vh - 80px);
    background-color: whitesmoke;
    width: 20%; 
    padding: 20px;
    overflow-y: auto;  
    z-index: 1020; 
    float: right;
    margin-left:auto;
    box-shadow: -5px 0 15px rgba(0,0,0,0.3);
}

.tooltip {
    background-color: #ff908b;
    color: white;
    font-size: x-small;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
