@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}*/


  /* NAVBAR*/


  .my_navbar {
    position:sticky;
    top: 0px;
    background-color: #ff908b;
    overflow: hidden;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
  }

  .my_navbar-title {
    color: white;
    padding-left: 14px;
    font-family: 'Abel', sans-serif;
    float: left;
    font-size: 64px;
    line-height: normal;
  }

  .my_navbar-links {
    display: flex;
  }

  .my_navbar a {
    color: white;
    padding: 14px 20px;
    
    text-decoration: none;
    font-size: large;
    transition: font-weight 0.3s ease, text-decoration 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif
  }
  .my_navbar a:hover {
    
    text-decoration: underline;
    font-weight: 700;
    font-size: x-large;  
  }

  /*CONTENT BOXES*/

  .content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 2%;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .title-box {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-self: stretch;
    margin: 2% 20% 2% 20%;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color:white;
    background-color: #ff908b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .content h3 {
    margin-bottom: 20px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 30px;
    align-self: flex-start;
  }

  .content p {
    font-size: 18px;
  }

  .content-box {
    flex: 1; 
    padding: 2%;
    margin: 2% 20% 2% 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    display: flex;
    flex-direction: column; 
    align-self: stretch;
    background-color: #ff908b;
    border-radius: 25px;
}

/*BACKGROUND*/

.background {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ff908b 25%, #C35B59 25%,  #FFF6F5 50%);
  top:0;
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  z-index:-1;
}

.bg1 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg2 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/*STORY-CARD*/

#story-card {
    position: sticky;
    background-color: whitesmoke;
    top: 80px; 
    height: calc(100vh - 80px);
    width: 40%; 
    padding: 20px;
    overflow-y: auto; 
    display: none; 
    z-index: 1000; 
    float: right; 
    margin-left: auto; 
    box-shadow: -5px 0 15px rgba(0,0,0,0.3);
}

#story-card img {
  height: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px; 
}

#story-card a{
color: black;
font-size: 24px;
font-weight: 500;
}


#story-card .close-button {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

/*TOOLTIPS*/

.tooltip {
  background-color: #ff908b;
  color: white;
  font-size: x-small;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

  

/*FONTS*/
  
  .roboto-condensed-navbar {
    font-family: 'Roboto Condensed', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }

  .abel-regular {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  
  

